* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 20px;
	scroll-behavior: smooth;
}

body {
	font-family: Helvetica, sans-serif;
	background-color: #8BC6EC;
	background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

form {
	text-align: center;
	margin-top: 5vh;
}


form label {
	display: block;
	margin-bottom: 20px;
}

form input {
	border-radius: 10px;
	border: none;
	padding: 2px;
}

.weather-info {
	margin-bottom: 5vh;
}

.weather-info img {
	margin: 0 -40px;
}

.weather-info h1 {
	font-size: 1.7rem;
	margin-bottom: 2vh;
}

.weather-info div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.weather-info div a {
	text-decoration: none;
	color: rgb(187, 60, 60);
}

.weather-info div p {
	margin: 2vh 0;
}

.weather-info h3 {
	font-size: 3rem;
	margin: 2vh 0;
	font-weight: 00;
	color: rgb(31, 31, 84);
}


.weatherTable div {
	display: flex;
	justify-content: space-between;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 0;
}


#container {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 45vw;
	border-radius: 20px;
	padding: 5%;
	margin: 5vh auto 0;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


#weather-info {
	display: flex;
	flex-direction: column;
}